#DO NOT COMMIT THIS
SENTRY_AUTH_TOKEN=end_of_quota_to_build___replace_with_your_own_token
# backend url

# chạy local
# REACT_APP_BACKEND_URL=http://127.0.0.1:3000
# EXPO_PUBLIC_BACKEND_URL=http://127.0.0.1:3000

# chạy trên cloud
REACT_APP_BACKEND_URL=https://finflow-api-d427.onrender.com
EXPO_PUBLIC_BACKEND_URL=https://finflow-api-d427.onrender.com