name: EAS Update

on:
  push:
    branches: [main]

jobs:
  update:
    if: "!contains(github.event.head_commit.message, '[build]')"
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: npm
          cache-dependency-path: frontend/package-lock.json

      - name: Install dependencies
        run: npm ci
        working-directory: ./frontend

      - name: Setup EAS
        uses: expo/expo-github-action@v8
        with:
          eas-version: latest
          token: ${{ secrets.EXPO_TOKEN }}
          packager: npm
        env:
          EAS_PROJECT_ROOT: ./frontend

      - name: Publish Update
        run: eas update --branch preview --message "${{ github.event.head_commit.message }}" --non-interactive
        working-directory: ./frontend
